.container {
    width: fit-content;
    background: url(background-image.jpg);
    background-position: center;
    background-size: full;
    padding: 100px;
}

.header {
    width: fit-content;
    color: rgb(121, 47, 63);
}
.ul {
    display: flex;
    margin-top: -50px;
    gap: 60px;
    align-items: center;
    padding-left: 260px;
}
.search{
display: flex;
    gap: 5px;
    margin-top: -60px;
    padding-left: 1100px;
}

.section {
    color: blue;
}
.de{
    color: black
}
.para{
color: rgb(83, 53, 13);
font-variant-numeric: 10px ;

}
.join {
     width: fit-content;
    background: rgb(158, 42, 61);
    border-radius: 190px;
    display: flex;
    padding: 10px;
    text-overflow: ;
    cursor: pointer;
    
}