*{
    margin: 0;
    padding: 0;
}

.main-container{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(background-image.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar {
    display: flex;
    gap: 300px;
    padding-top: 20px;
    align-items: center;
    margin-bottom: 50px;
    
}
.navbar-items {
    display: flex;
    gap: 80px;
    
}
.nav-links {
    display: flex;
    gap: 50px;
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: white;
}

li :hover {
    color: orangered;
}
.logo {
    color: blue;
    cursor: pointer;
}
.left-nav input{
   background: white;
    padding: 10px;
    border: none;
    outline: none;
     gap: -10px;
}
.left-nav button {
    background: rgb(139, 57, 42);
    padding: 10px;
    border: none;
    outline: none;
    color: white;
    gap: -10px;
    cursor: pointer;
}
.section {
    color: white; 
    padding-bottom: 20px;
    font-size: 30px;
}
.inter-text {
    color: blue;
    
    
}
.space {
    color: rgb(206, 175, 118);
    font-style: italic;
    font-size: larger;
}
.join {
     width: fit-content;
    padding: 15px;
    border-radius: 23px;
    background: brown;
    margin: 20px;
      color: white;
    padding: 10px;
    cursor: pointer; 
}
.join :hover {
    color: blue;
}